<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kira.blog.mapper.TagMapper">
  <resultMap id="BaseResultMap" type="com.kira.blog.pojo.po.TagPO">
    <id column="tag_id" jdbcType="BIGINT" property="tagId" />
    <result column="post_id" jdbcType="BIGINT" property="postId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="meta_title" jdbcType="VARCHAR" property="metaTitle" />
    <result column="slug" jdbcType="VARCHAR" property="slug" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    <result column="updated_date" jdbcType="TIMESTAMP" property="updatedDate" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.kira.blog.pojo.po.TagPO">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    tag_id, post_id, title, meta_title, slug, created_by, created_date, updated_by, updated_date
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from blog_tag
    where tag_id = #{tagId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from blog_tag
    where tag_id = #{tagId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.kira.blog.pojo.po.TagPO">
    insert into blog_tag (tag_id, post_id, title, 
      meta_title, slug, created_by, 
      created_date, updated_by, updated_date, 
      content)
    values (#{tagId,jdbcType=BIGINT}, #{postId,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, 
      #{metaTitle,jdbcType=VARCHAR}, #{slug,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, 
      #{createdDate,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, #{updatedDate,jdbcType=TIMESTAMP}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kira.blog.pojo.po.TagPO">
    insert into blog_tag
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tagId != null">
        tag_id,
      </if>
      <if test="postId != null">
        post_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="metaTitle != null">
        meta_title,
      </if>
      <if test="slug != null">
        slug,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdDate != null">
        created_date,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedDate != null">
        updated_date,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tagId != null">
        #{tagId,jdbcType=BIGINT},
      </if>
      <if test="postId != null">
        #{postId,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="metaTitle != null">
        #{metaTitle,jdbcType=VARCHAR},
      </if>
      <if test="slug != null">
        #{slug,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedDate != null">
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kira.blog.pojo.po.TagPO">
    update blog_tag
    <set>
      <if test="postId != null">
        post_id = #{postId,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="metaTitle != null">
        meta_title = #{metaTitle,jdbcType=VARCHAR},
      </if>
      <if test="slug != null">
        slug = #{slug,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedDate != null">
        updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where tag_id = #{tagId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.kira.blog.pojo.po.TagPO">
    update blog_tag
    set post_id = #{postId,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      meta_title = #{metaTitle,jdbcType=VARCHAR},
      slug = #{slug,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where tag_id = #{tagId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kira.blog.pojo.po.TagPO">
    update blog_tag
    set post_id = #{postId,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      meta_title = #{metaTitle,jdbcType=VARCHAR},
      slug = #{slug,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      updated_date = #{updatedDate,jdbcType=TIMESTAMP}
    where tag_id = #{tagId,jdbcType=BIGINT}
  </update>
</mapper>