<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>

    <context id="context1" targetRuntime="MyBatis3">
        <commentGenerator>
            <property name="suppressDate" value="true"/>
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>

        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/blog"
                        userId="blogdata" password="123456"/>

        <!-- Them package va po class java-->
        <javaModelGenerator targetPackage="com.kira.blog.pojo.po" targetProject="./src/main/java">
        </javaModelGenerator>

        <!-- Them package va xml mapper file-->
        <sqlMapGenerator targetPackage="mapper" targetProject="./src/main/resources">
        </sqlMapGenerator>

        <!-- Them package va class mapper java file-->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.kira.blog.mapper" targetProject="./src/main/java">
        </javaClientGenerator>

        <table tableName="blog_module" domainObjectName="ModulePO" mapperName="ModuleMapper"
               enableCountByExample="false" enableUpdateByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false"
               selectByExampleQueryId="false"/>
        <table tableName="blog_role" domainObjectName="RolePO" mapperName="RoleMapper"
               enableCountByExample="false" enableUpdateByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false"
               selectByExampleQueryId="false"/>
        <table tableName="blog_access_right" domainObjectName="AccessRightPO" mapperName="AccessRightMapper"
               enableCountByExample="false" enableUpdateByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false"
               selectByExampleQueryId="false"/>
        <table tableName="blog_user" domainObjectName="UserPO" mapperName="UserMapper"
               enableCountByExample="false" enableUpdateByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false"
               selectByExampleQueryId="false"/>
        <table tableName="blog_post" domainObjectName="PostPO" mapperName="PostMapper"
               enableCountByExample="false" enableUpdateByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false"
               selectByExampleQueryId="false"/>
        <table tableName="blog_comment" domainObjectName="CommentPO" mapperName="CommentMapper"
               enableCountByExample="false" enableUpdateByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false"
               selectByExampleQueryId="false"/>
        <table tableName="blog_category" domainObjectName="CategoryPO" mapperName="CategoryMapper"
               enableCountByExample="false" enableUpdateByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false"
               selectByExampleQueryId="false"/>
<!--        <table tableName="blog_post_category" domainObjectName="PostCategoryPO" mapperName="PostCategoryMapper"-->
<!--               enableCountByExample="false" enableUpdateByExample="false"-->
<!--               enableDeleteByExample="false" enableSelectByExample="false"-->
<!--               selectByExampleQueryId="false"/>-->
        <table tableName="blog_tag" domainObjectName="TagPO" mapperName="TagMapper"
               enableCountByExample="false" enableUpdateByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false"
               selectByExampleQueryId="false"/>
        <table tableName="blog_meta" domainObjectName="MetaPO" mapperName="MetaMapper"
               enableCountByExample="false" enableUpdateByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false"
               selectByExampleQueryId="false"/>
        <table tableName="blog_user_event_log" domainObjectName="UserEvenLogPO" mapperName="UserEvenLogMapper"
               enableCountByExample="false" enableUpdateByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false"
               selectByExampleQueryId="false"/>

    </context>
</generatorConfiguration>
